.main-flix{
    
}
.brt-primary{
    background-color:#E55473 ;
    margin:0px;
    border-radius:5px;
}
.image{width="100px"}
.content-one{
    background-color:#f5d7dd;
    padding:20px;
    display:flex; 
    justify-content: space-around;
    height: 100vh;
    align-items:center;
    border: 2px solid gray;
}
.h2title-two{
    text-align: center;
}
.p2title-two{
    text-align: center;
}
.colum{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
}
.gap1{ 
    border:5px;
    gap: 24px;
    background-color: #f1c3cd;
    border-radius: 180px 180px 0px 0px;
    text-align: center;
}
.gap2{
    border:5px;
    gap: 24px;
    background-color: #bafcff;
    border-radius: 180px 180px 0px 0px;
    text-align: center; 
}
.gap3{
    border:5px;
    gap: 24px;
    background-color: #abbd99;
    border-radius: 180px 180px 0px 0px;
    text-align: center; 
    
}
.colum-3rd{
    display:flex;
    justify-content:center;
    gap: 50px;
   
}
.border-colum{
    padding: 130px;
    border-radius:10px;
    background-color:#aba9a9;
    margin: 130px 0;
}