
.main-flix{ 
    
}
.brt-primary{
    background-color:#E55473 ;
    margin:0px;
    border-radius:5px;
}
.image{width="50px"}
.content-one{
    background-color:#f5d7dd;
    padding:20px;
    display:flex; 
    justify-content: space-around;
    align-items:center;
    border:2px solid gray;
}

.h2title-two{
    text-align: center;
}
.p2title-two{
    text-align: center;
}
.colum{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
}
.gap1{ 
    border:5px;
    gap: 24px;
    background-color: #f1c3cd;
    border-radius: 180px 180px 0px 0px;
    text-align: center;
}
.gap2{
    border:5px;
    gap: 24px;
    background-color: #bafcff;
    border-radius: 180px 180px 0px 0px;
    text-align: center; 
}
.gap3{
    border:5px;
    gap: 24px;
    background-color: #abbd99;
    border-radius: 180px 180px 0px 0px;
    text-align: center; 
    
}

.colum-3rd{
    display:flex;
    justify-content:center;
    gap: 50px; 
}

.border-colum{
    padding: 130px;
    border-radius:10px;
    background-color:#aba9a9;
    margin: 130px 0;
}
.brt-primary{
    background-color:#E55473 ;
    margin:0px;
    border-radius:5px;
    font-size: medium;
    color: white;
}
 .content-three{ 
    display:flex;
    justify-content:center;
    border:5px;
    gap:100px;
    background-color: #f1c3cd;
    align-items:center;
  
}

/* four section */

.skils{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center
}
.skils--description{
    padding: 30px;
    border-radius: 5px;
    background:#FFF;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
}
.title-ins{
    text-align: center;
}
.title-p{
    text-align: center;
}